<div ng-controller="empCtrl as vm">
    <div class="text-center" ng-if="vm.ViewMode=='no-data'">
        No Data
    </div>
    <div class="text-center" ng-if="vm.ViewMode=='data-loading'">
        Loading...
    </div>
    <div ng-if="vm.ViewMode=='data-loaded'">
        <div class="form-inline" style="margin:5px 0;">
            Text Filter: <input type="text" class="form-control" ng-model="vm.keyword" ng-keypress="vm.ApplyFilter()" /> <span ng-hide="vm.filtered.length==vm.DataSet.length">({{vm.filtered.length}} record(s))</span>
        </div>
        <div>
            <div class="pull-left">
                <nav aria-label="...">
                    <ul class="pagination">
                        <li class=""><a href="javascript:void(0)" aria-label="First page" title="First page" ng-click="vm.FirstPage()">&laquo;</a></li>
                        <li ng-class="vm.PrevDisabled()?'disabled':''"><a href="javascript:void(0)" aria-label="Previous page" title="Previous page" ng-click="vm.PrevPage()">&lsaquo;</a></li>
                        <li ng-repeat="page in vm.PageRange" ng-class="vm.IsCurrentPage(page)?'active':''"><a href="javascript:void(0)" ng-click="vm.OnPageChange(page)">{{page}}</a></li>
                        <li ng-class="vm.NextDisabled()?'disabled':''"><a href="javascript:void(0)" aria-label="Next page" title="Next page" ng-click="vm.NextPage()">&rsaquo;</a></li>
                        <li class=""><a href="javascript:void(0)" aria-label="Last page" title="Last page" ng-click="vm.LastPage()">&raquo;</a></li>
                    </ul>
                </nav>
            </div>
            <div class="pull-right">
                <span ng-bind="vm.CurrentPage"></span>
                of
                <span ng-bind="vm.PageCount"></span>
                page(s) &nbsp;&nbsp;
                page size:
                <span ng-repeat="item in vm.PageSizes">
                    <a href="javascript:void(0)" title="Per page size" ng-click="vm.OnPageSizeChange(item)" ng-class="vm.IsActivePageSize(item)?'active':''">{{item}}</a>&nbsp;
                </span>
            </div>
        </div>
        <div>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="text-center">
                            ID
                        </th>
                        <th class="text-center">
                            Name
                        </th>
                        <th class="text-center">
                            Phone
                        </th>
                        <th class="text-center">
                            Gender
                        </th>
                        <th class="text-center">
                            BirthDate
                        </th>
                        <th class="text-center">
                            Department
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in vm.filtered=(vm.DataSet|filter:vm.filterKeyword)">
                        <td ng-bind="item.ID"></td>
                        <td ng-bind="item.Name"></td>
                        <td ng-bind="item.Phone"></td>
                        <td ng-bind="item.Sex|gender"></td>
                        <td ng-bind="item.BirthDate|date"></td>
                        <td ng-bind="item.Department.NAME"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>